@page "/"

<PageTitle>Home - L2Dn DataPack Editor</PageTitle>

<h1>Welcome to L2Dn DataPack editor!</h1>

<div>
    <a href="">Npc</a>
</div>

<div>
    <a href="">Items</a>
</div>

<div>
    <a href="">Skills</a>
</div>

<div>
    <a href="">Buy Lists</a>
</div>

<div>
    <a href="">MultiSell Lists</a>
</div>
